/* App.css */

/* Estilos generales de la App */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.navbar-title {
  color: white;
  font-size: 24px;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* App.css */

/* Estilos para el widget del carrito */
.cart-widget {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 24px;
  color: white;
}

/* Estilo del contador de productos en el carrito */
.cart-quantity {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -10px;
}
